.headerAttention {
    display:flex;
}
.headerAttention li {
    width: 100%;
    display:inline;
    cursor: pointer;
    text-align: center;
}

.headerAttention  hr {
    border:none;
    width:100%;
    height:3px;
    border-radius:10px;
    background:red;
    margin:0;
}